.post-item {
  margin-bottom: 36px;
	padding: 24px;
	box-shadow: 0 0 8px  #cbd9e4;
  h3.title {
		color: lighten($black, 10);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

	hr {
		color: $deep-grey;
		width: auto;
	}
  .content {
		height: 150px;
    line-height: 1.7em;
    margin-bottom: 16px;
		overflow: hidden;
  }

	.read-more {
		a {
			color: lighten($red, 10);
    }
	}

}
