@import "./_variables";
@import "./posts/post_list";
@import "./parts/buttons";
@import "./parts/navbar";
@import "./posts/page";
@import "./posts/new";

body {
	background: #FFF;
}

.center-layout {
	width: 300px;
	margin: 0 auto;
}
